.git
.github
.next
.turbo
coverage
output
test-results
tmp
tmp/**
*.log
*.tmp
.DS_Store

node_modules
**/node_modules
**/.next
**/coverage
**/dist
**/build

playwright-report
tests/results

my.key
my.crt
